body {
    background: #f8f6f3;
    font-family: 'Inter', sans-serif;
}

/* BACK BUTTON */
.back-btn {
    color: #C1C1C1;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
.arrow-icon {
    margin-right: 6px;
    font-size: 22px;
}

/* PRODUCT WRAPPER */
.product-wrapper {
    display: flex;
    background: white;
    border-radius: 35px;
    padding: 40px 60px;
}

/* LEFT SIDE */
.left-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MAIN PRODUCT IMAGE */
.main-img {
    width: 420px;
    height: 420px;
    object-fit: cover;
    border-radius: 20px;
}

/* THUMBNAILS = NO ARROWS */
.thumb-wrapper {
    margin-top: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.thumb-container {
    display: flex;
    gap: 14px;
    overflow-x: auto;
    max-width: 85%;
    scroll-behavior: smooth;
    padding: 6px 0;
}

.thumb-img {
    width: 95px;
    height: 72px;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* RIGHT PRODUCT DETAILS */
.right-box {
    width: 50%;
    background: #000;
    color: white;
    border-radius: 30px;
    padding: 40px;
}

.desc {
    font-size: 15px;
    line-height: 1.6;
    color: #e0e0e0;
}

/* QUANTITY */
.qty-box {
    display: flex;
    align-items: center;
    gap: 18px;
}

.qty-btn {
    width: 42px;
    height: 42px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

.qty-num {
    font-size: 20px;
    font-weight: bold;
}

/* RECOMMEND TITLE + ARROWS */
.rec-header {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rec-arrows {
    display: flex;
    gap: 22px;
}

.rec-arrow-btn {
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
    color: #333;
}

.rec-arrow-btn:hover {
    transform: translateY(-2px);
}

/* RECOMMEND CARD */
.rec-card {
    width: 23%;
    background: #f3efea;
    border-radius: 20px;
}

.rec-img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
}

/* BACKGROUND*/
.top-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45vh;
    background-image: url("../img/product/background/img_thubnail.png");
    background-size: cover;
    background-position: center;
    z-index: -1;

    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}
