.page-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/eProject/z_chic_lighting_and_design/assets/img/home/img_banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 250px 0;
  margin-bottom: 60px;
  text-align: center;
  color: #fff;
}

.page-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(50, 36, 36, 0.6);
}

.page-banner .container,
.page-banner .banner-content {
  position: relative;
  z-index: 1;
}
.page-banner h2 {
  text-transform: uppercase;
  font-weight: 800;
  margin: 0 0 15px;
  letter-spacing: 3px;
  font-size: 48px;
}

.banner-breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.banner-breadcrumb a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}
.banner-breadcrumb a:hover {
  color: #fff;
}

.banner-breadcrumb i {
  font-size: 12px;
  color: #fff;
  margin: 0 15px;
}

.banner-breadcrumb .active {
  color: #fff;
  font-weight: 700;
  border-bottom: 2px solid #fff;
}

@media (max-width: 768px) {
  .page-banner {
    min-height: 300px;
    padding: 40px 15px;
  }

  .page-banner h2 {
    font-size: 2rem;
  }
}
