header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: transparent;
  border-radius: 0px;
  backdrop-filter: none;
}

.nav-item a {
  color: var(--header-text);
  font-weight: 600;
  transition: 0.25s ease;
}

.nav-item a:hover,
.nav-item_product a:hover,
.nav-item_brand a:hover,
.nav-item_category a:hover,
.header_right a:hover,
.header_right i:hover {
  color: var(--header-hover) !important;
}

.nav-item_product,
.nav-item_category,
.nav-item_brand,
.header_account_item {
  background-color: var(--bg-main);
  color: var(--header-text);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}
